.todo-list-elem {
    font-size: 1.25rem;
}

.todo-list-elem button {
    width: 35px;
    height: 30px;
    margin: 3px;
}

.todo-list-elem-label {
    margin-left: 1.25rem;
    line-height: 35px;
    cursor: pointer;
    user-select: none;
}

.todo-list-elem.done .todo-list-elem-label {
    text-decoration: line-through;
}

.todo-list-elem.important .todo-list-elem-label {
    font-weight: bold;
    color: green;
}